html {
  scroll-behavior: smooth;
}
:root {
  --color-peach: #f1cdb3;
  --color-grey: #4c4c4c;
  --color-dark: #545454;
  --color-light: #f6f6f6;
  --color-dark-s: #cdcdcd;
  --color-button-hover: #fddcc4;
}
body {
  margin: 0px;
  padding: 0px;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 90px 40px;
}
.logo {
  width: 184px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--color-peach);
}
.logo:hover {
  transform: scale(1.1);
  transition: 2s;
}
.open a {
  border-bottom: 3px solid var(--color-peach);
  margin: auto;
  color: #fafafa;
}
h1 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 32px;
  color: var(--color-peach);
  line-height: 110%;
  margin: 0;
  letter-spacing: 0.05em;
}
h2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin-top: 10px;
  color: #ffffff;
}
h3 {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 44px;
  color: #ffffff;
  line-height: 130%;
}
h4 {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 35px;
  font-style: normal;
  line-height: 160%;
  margin-block-start: 0;
}
.burger {
  display: none;
}
.not_only_text {
  width: 460px;
  height: 322px;
  margin-left: 40px;
  padding-bottom: 80px;
}
.not_only_text h3 {
  width: 310px;
  height: 114px;
  margin-top: 0;
}
.not_only_text p {
  color: var(--color-dark-s);
  margin-bottom: 40px;
  margin-top: 0;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}
.not_only_button {
  width: 207px;
  height: 52px;
  background: var(--color-peach);
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #292929;
}

.not_only_button:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
  transform: scale(1.1);
  transition: 2s;
}
h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-block-start: 0;
}
p {
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  width: 443px;
}
li a {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  list-style-type: none;
  color: var(--color-dark-s);
  text-decoration: none;
}
li {
  list-style-type: none;
}
.a_hover:hover {
  color: #fafafa;
}
li:hover {
  color: #292929;
  transition: 1s;
}
.background_header {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
    #211f20;
  height: 908px;
  background-size: cover;
}
.not_only_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.not_only_img {
  width: 698px;
  height: 728px;
  margin-bottom: 0;
  margin-right: 40px;
  margin-left: 20px;
}
.about {
  margin: auto;
}

.about_flex {
  height: 588px;
  display: flex;
}
.about img {
  width: 300px;
  height: 408px;
  margin-left: 215px;
  margin-top: 80px;
  margin-right: 120px;
}
.about_content {
  width: 430px;
  height: 380px;
  margin-top: 94px;
  color: var(--color-dark);
}
.about_content h4 {
  margin-top: 0px;
  width: 370px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
}
.about_content p {
  color: var(--color-grey);
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}
.about_p_second {
  margin-top: 25px;
}
.our_friends {
  height: 797px;
  background: var(--color-light);
  color: var(--color-dark);
  padding-top: 80px;
}
.our_friends h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  width: 400px;
  line-height: 130%;
  font-size: 35px;
  align-items: center;
  text-align: center;
  margin: auto auto 60px;
  height: 90px;
  letter-spacing: 0.05em;
}
.friends_cards {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  width: 990px;
}
.friends_big_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.friends_button {
  width: 48px;
  height: 48px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  font-style: b;
}

.friends_button:hover {
  background-color: var(--color-button-hover);
  border: 2px solid var(--color-button-hover);
  transition: 1s;
}

.friends_card {
  background-color: #fafafa;
  width: 270px;
  height: 435px;
  border-radius: 9px;
  text-align: center;
  display: none;
}
.friends_card h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  margin-top: 25px;
}
.card_button {
  border: 2px solid var(--color-peach);
  border-radius: 100px;
  width: 195px;
  height: 52px;
  padding: 15px 45px;
  gap: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  background-color: #fafafa;
  color: #292929;
  margin-bottom: 30px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.our_friends_button {
  /* width: 261px; */
  /* height: 52px; */
  background-color: var(--color-peach);
  border-radius: 100px;
  /* padding: 15px 45px; */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  display: block;
  margin: 60px auto auto;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 261px;
  height: 52px;
  color: #292929;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.our_friends_button:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}
.friends_card:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: 1s;
}
.friends_card:hover .card_button {
  background-color: var(--color-button-hover);
  border: 2px solid var(--color-button-hover);
  transition: 1s;
}
.help {
  height: 531px;
  padding-top: 80px;
  color: var(--color-dark);
}

.help_list {
  display: flex;
  justify-content: center;
  height: 281px;
  padding-left: 87px;
  padding-right: 87px;
  flex-wrap: wrap;
  gap: 55px 120px;
}

.help_card {
  text-align: center;
}
.help h4 {
  margin: 0px auto 60px;
  width: 310px;
  height: 90px;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.help h5 {
  margin-bottom: 0;
  margin-top: 25px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.in_addition {
  height: 382px;
  background: var(--color-light);
  padding-top: 80px;
}
.in_addition_flex {
  display: flex;
  width: 915px;
  height: 282px;
  margin: auto;
}
.addition_puppy_img {
  width: 505px;
  height: 261px;
  margin-top: 11px;
}
.in_addition_content {
  width: 380px;
  height: 282px;
  margin-left: 30px;
}
.in_addition_content h4 {
  margin-bottom: 20px;
  color: var(--color-dark);
  width: 300px;
  height: 90px;
  letter-spacing: 0.06em;
  margin-top: 0;
  line-height: 130%;
}
.in_addition_content p {
  height: 17px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card_under {
  display: inline-block;
  width: 380px;
  height: 72px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  color: #b2b2b2;
  margin-bottom: 100px;
  margin-top: 0;
  line-height: 18px;
}
.card_img {
  width: 30px;
  height: 23px;
  margin-left: 15px;
  display: block;
}

.card_flex {
  display: flex;
  align-items: center;
  width: 349px;
  height: 47px;
  background-color: var(--color-peach);
  border-radius: 9px;
  margin-bottom: 16px;
  margin-top: 20px;
}
.card:hover {
  transform: scale(1.1);
  transition: 2s;
}
.number {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-dark);
  margin-left: 15px;
  letter-spacing: 0.06em;
}
footer {
  background: radial-gradient(
      110.67% 538.64% at 5.73% 50%,
      #513d2f 0%,
      #1a1a1c 100%
    ),
    #211f20;

  height: 310px;
  padding-top: 40px;
}

.footer_contact {
  display: flex;
  height: 310px;
  margin: auto;
  justify-content: space-between;
  text-align: start;
  width: 1200px;
}
footer h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 18px;
  width: 280px;
  height: 90px;
  margin-bottom: 33px;
}
footer p {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-peach);
  margin: 0;
}
.footer_contact_first {
  width: 278px;
  height: 234px;
}

.footer_contact_second {
  width: 302px;
  height: 234px;
}
.contact_first_flex {
  display: flex;
  margin-bottom: 40px;
}
.contact_second_flex {
  display: flex;
  margin-bottom: 33px;
}
.contact_first_flex img {
  width: 40px;
  height: 32px;
  margin-right: 20px;
}
.contact_second_flex img {
  width: 22px;
  height: 32px;
  margin-right: 20px;
}
a:visited,
a:link,
a:link {
  text-decoration: none;
}

@media (max-width: 1279px) {
  .wrapper {
    width: 768px;
  }
  body {
    margin: 0;
  }

  .background_header {
    height: 1165px;
  }
  .header {
    padding: 30px 30px 60px 30px;
  }
  .not_only_content {
    display: flex;
    align-items: center;

    width: 460px;
    height: 322px;
    flex-direction: column;
    margin: auto;
  }
  .not_only_button {
    margin: auto;
    margin-bottom: 100px;
    margin-top: 42px;
  }
  .not_only_img {
    width: 596px;
    height: 593px;
    margin-left: 22vw;
    margin-top: 0px;
  }
  .not_only_text {
    padding-bottom: 100px;
    margin-left: 0;
  }
  .about {
    height: 1048px;
  }
  .about_flex {
    flex-direction: column-reverse;
    width: 437px;
    height: 868px;
    margin: auto;
    padding-top: 80px;
  }
  .about img {
    margin: auto;
    margin-top: 80px;
  }
  .friends_cards {
    gap: 40px;
    width: 580px;
  }
  .friends_card {
    margin: none;
  }

  .friends_cards {
    width: 584px;
  }
  .friends_big_flex {
    width: 708px;
    gap: 12px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
  }
  .help {
    height: 699px;
    padding-top: 0;
    margin-top: 80px;
  }
  .help_list {
    width: 630px;
    padding: 0;
    height: 449px;
    align-items: center;
    margin: auto;
    gap: 55px 60px;
  }
  .help_card {
    width: 170px;
    height: 113px;
  }
  .in_addition {
    height: 783px;
    padding: 0;
  }
  .in_addition_flex {
    flex-direction: column-reverse;
    gap: 60px;
    align-items: center;
    margin: 0;
    height: 783px;
    justify-content: center;
    width: 768px;
  }
  .in_addition_content {
    margin: 0%;
  }
  footer {
    height: 609px;
    padding-top: 30px;
  }
  .footer_contact {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 629px;
    width: 640px;
    gap: 0px 60px;
  }
  .footer_contact_first h4,
  .footer_contact_second h4 {
    width: 280px;
    height: 90px;
    margin-bottom: 40px;
    margin-block-start: ;
  }
}
@media (max-width: 767px) {
  /* ToDo fix chrome devtools */
  ul {
    display: none;
  }
  .burger {
    width: 30px;
    height: 22px;
    display: block;
  }
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (min-device-width: 320px) and (max-device-width: 767px) {
  .wrapper {
    width: 100%;
  }
  ul {
    display: none;
  }
  .overlay {
    display: none;
  }
  .overlay.show {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    display: block;
    z-index: 1;
  }
  body.blockscroll {
    overflow: hidden;
  }
  .burger {
    width: 30px;
    height: 22px;
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 3;
    transition: 1s;
  }
  .burger span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 10px;
    left: 50%;
    background-color: var(--color-peach);
    margin: auto;
    display: block;
    left: 0;
  }
  .burger span:nth-of-type(2) {
    top: 0;
  }
  .burger span:nth-of-type(3) {
    top: 20px;
  }
  .burger.active {
    transform: rotate(90deg);
  }
  .header {
    height: 60px;
    padding: 30px 20px 60px 20px;
  }
  .logo {
    width: 184px;
    height: 60px;
  }
  ul {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 320px;
    height: 100%;
    padding: 15px;
    background: #ffefba;

    background-color: #292929;
  }
  li a {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
  }
  .burger_menu {
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 2;
  }
  .burger_menu.afterStartPage {
    transition: transform 1s;
  }
  .burger_menu.active {
    transform: translateX(0);
  }
  .not_only {
    width: 320px;
    height: 673px;
    margin: auto;
  }
  .not_only_content {
    margin: 0 auto;
    width: 300px;
  }
  .not_only_text {
    width: 300px;
    height: 296px;
    text-align: center;
    padding-bottom: 106px;
  }
  .not_only_content h3 {
    width: 300px;
    height: 64px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
  .not_only_content h4 {
    width: 300px;
    height: 96px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
  }
  .not_only_content img {
    width: 260px;
    height: 271.77px;
    align-self: flex-end;
    margin-right: 10px;
  }
  .not_only_button {
    margin-bottom: 105px;
  }
  .background_header {
    height: 823px;
  }
  .about {
    height: 974px;
  }
  .about_flex {
    width: 270px;
    height: 890px;
    margin: auto;
    padding-top: 42px;
  }
  .about_content {
    width: 270px;
    height: 494px;
    margin-top: 0;
  }
  .about_content h4 {
    width: 250px;
    height: 64px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 42px;
    margin-bottom: 25px;
  }
  .about_content p {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
  }
  .about_p_second {
    margin-top: 22px;
    margin-bottom: 42px;
  }
  .about img {
    width: 260px;
    height: 353.6px;
  }
  /* .friends_cards:nth-child(n < 3) {
    display: none;
  } */
  .our_friends {
    padding-top: 42px;
    height: 749px;
  }
  .our_friends h4 {
    width: 300px;
    height: 64px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 42px;
    text-align: center;
    letter-spacing: 0.06em;
  }
  .friends_card h5 {
    line-height: 23px;
    letter-spacing: 0.06em;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
  }
  .button_one {
    order: 2;
  }
  .button_two {
    order: 3;
  }
  .katrine {
    order: 1;
  }
  .friends_card:nth-of-type(1) {
    display: block;
  }
  .friends_big_flex {
    flex-direction: row;
    flex-wrap: wrap;
    width: 270px;
    height: 507px;
    justify-content: center;
    gap: 20px 80px;
  }
  .our_friends_button {
    width: 260px;
    height: 52px;
    margin-top: 42px;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
  .help {
    height: 703px;
    padding-top: 42px;
    margin-top: 0;
  }
  .help h4 {
    width: 220px;
    height: 64px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 42px;

    text-align: center;
    letter-spacing: 0.01em;
  }
  .help_list {
    width: 290px;
    height: 555px;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
  }
  .help_card h5 {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
  }
  .help_card {
    width: 130px;
    height: 87px;
  }
  .help_name {
    margin-top: 20px;
  }
  .help img {
    width: 50px;
    height: 50px;
  }
  .in_addition {
    height: 500.2px;
    padding-top: 42px;
  }
  .in_addition h4 {
    width: 220px;
    height: 64px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .addition_puppy_img {
    width: 260px;
    height: 135.2px;
  }
  .in_addition_flex {
    height: 100%;
    width: 300px;
    gap: 42px;
    margin: auto;
  }
  .in_addition p {
    width: 273px;
    height: 24px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 20px;
    letter-spacing: normal;
    margin-left: auto;
    margin-right: auto;
  }
  .in_addition_content {
    width: 300px;
    text-align: center;
  }
  .card_flex {
    width: 281px;
    height: 43px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    line-height: 110%;
  }
  .number {
    font-size: 15px;
  }
  .card_under {
    width: 280px;
    text-align: justify;
  }
  footer {
    height: 749px;
  }
  .footer_contact {
    flex-direction: row;
    width: 300px;
    text-align: center;
    justify-content: flex-start;
  }
  .footer_contact_first h4,
  .footer_contact_second h4 {
    width: 278px;
    height: 64px;
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    margin-block-start: 0;
  }
  .footer p {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
  }
  .footer_puppy {
    width: 260px;
    height: 269px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_contact_first,
  .footer_contact_second {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .contact_first_flex {
    margin-left: auto;
    margin-right: auto;
    width: 251px;
  }
}
@media (min-width: 1279px) {
  .friends_card:nth-of-type(1),
  .friends_card:nth-of-type(2),
  .friends_card:nth-of-type(3) {
    display: block;
  }
}
@media (min-device-width: 767px) and (max-width: 1279px) {
  .friends_card:nth-of-type(1),
  .friends_card:nth-of-type(2) {
    display: block;
  }
}
@media (min-device-width: 320px) and (max-device-width: 767px) {
  .friends_card:nth-of-type(1) {
    display: block;
  }
}
